a{
    text-decoration: none;
}

nav{
    height:10vh;
  /*  border: 1px solid #dfdfdf; */
    background-color:#002366;
    color: white;
  /*position: fixed; */
}

/* Top Layer - 10% ,  Question Layer - 15% , Option layer - 30% , Answer - 10% Progress Bar-10% Buttons -10% */

.div-header{
    width:100%;
    height: 10vh;
    margin:0 auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.div-svg{
    height: 30px;
    width:30px;
    padding: 1px 20px;
} 

.button-header{

}

.logo{
    display: flex;
    margin-left: 1.1em;
}

.input_field{
    padding-top: 3px;
}

input{
  
    height: 20px;
    width:147px;
    border-radius:8%;
    box-shadow: none!important;
    border: none;

}
h1{
    color: white;
    font-size: 2.4em;;
}

.logo .text{
    margin-left:-5em;
}