*{
  padding: 0;
  margin: 0;
}

.container-box{
  width:100%;
 /* padding: 10px 10px; */
  background-color:#F4F7F9; 
  height: 100%;
}

.wrapper{
  display: flex;
  
}

a:hover{
  text-decoration: none;
}
